#videoContainer{
    margin-top: -8rem;
    padding-top: 0;
}

#video{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

.wave{
    position: relative;
    margin-top: -25rem;
    left:-10px;
    z-index:3;
    width:105vw;
    fill: white;
}

.Button{
    z-index: 100;
    position: fixed;
    top: 20px;
    right: 40px;
    height: 100px;
    width: 70px;
    background-color: khaki
}